@model TestWebsite.Models.ContentPageViewModel

@{
    ViewData["Title"] = string.IsNullOrWhiteSpace(Model.MetaTitle) ? Model.Name : Model.MetaTitle;
    ViewData["MetaDescription"] = Model.MetaDescription;
}

@await Component.InvokeAsync("ContentHero", Model)

<div class="container page-content">
    <editable-area area-identifier="content-main" />
</div>
